/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* root */

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    --teal:#007d7b;
    --black:#000000 ;
    --white:#ffffff ;
}

/* global/mobile */
html{
    background-color: var(--black);
}

body{
    min-width: 485px;
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 3em;
    color: var(--teal);
    font-weight: bold;
}

h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

p{
    font-size: 1.25em;
    line-height: 1.5em;
    padding: 10px 0;
}

header{
    margin: 0 auto;
    background: var(--white);
    padding: 15px;
}

nav {
    padding: 50px 0;
    text-align: center;
    width: 485px;
    margin: 0 auto;
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
}
nav a{
    font-size: 1.5em;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
}

#top{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 0.33em;
    border: solid 3px var(--white);
}

figcaption, label, input, small {
    font-size: 1rem;
}

h1, h2, nav a, figcaption, label, input, small, footer{
    text-transform: uppercase;
}

#about, #gallery{
    background-color: var(--white);
    padding: 15px;
}

figure{
    position: relative;
    display: grid;
    padding: 0.5em 1.25em;
}

figure img{
    width: 100%;
    height: auto;
}

figcaption{
    position: absolute;
    grid-area: 1 / 1;
    text-align: center;
    z-index: 1;
    width: calc(100% - 2em);
    box-sizing: border-box;
}

#chile, #hawaii, #italy, #moab{
    bottom: 1.25em;
}

#guatemala, #iran, #ireland, #rocky-mtn, #switzerland, #uk, #usa, #wyoming{
    top: 1em;
}

figcaption.dark-text{
    color: var(--black);
}

figcaption.light-text{
    color: var(--white);
}

#contact {
    color: var(--white);
    padding: 0 1.5em;
}

#contact h2, #contact p{
    text-align: center;
}

input, label{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]{
    color: var(--teal);
    font-weight: bold;
    padding: 0.75em;
}

label{
    padding-top: 1.5em;
    padding-left: .75em;
}

input[type="submit"]{
    background-color: var(--teal);
    color: var(--white);
    font-weight: bold;
    margin: 1.5em auto;
    padding: 15px;
    border-radius: 20px;
    width: 60%;
}

footer{
    color: var(--white);
    text-align: center;
}

/* medium */
@media screen and (min-width: 880px){
    body{
        min-width: 880px;
    }

    #photos{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
        padding-bottom: 15px;
    }
    
    figure{
        padding: 0;
    }

    #contact {
        width: 85%;
        margin: 0 auto;
    }
}

/* large */
@media screen and (min-width: 1300px){
    body{
        min-width: 1300px;
    }

    nav{
        margin-right: 1em;
    }

    #photos{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        padding-bottom: 15px;
    }
    
    #contact{
        width: 75%;
        margin: 0 auto;
    }
}